<!doctype HTML>
<html>
<head>
<title>Accompany Interview</title>
<link rel="stylesheet" type="text/css" href="/fullcalendar/fullcalendar.min.css" />

</head>
<body>
<%= yield %>

<script src="/jquery-2.2.4.min.js"></script>
<script src="/underscore.js"></script>
<script src="/backbone.js"></script>
<script src="/moment.js"></script>
<script src="/fullcalendar/fullcalendar.min.js"></script>
</body>
</html>
